<div class="container">

    <div class="card-body-profile">
      <div class="tab-content">


<table>
    <thead>
        <tr>
            <h2> Casting de <%= @movie.title %> : </h2>
        </tr>
    </thead>
    <tbody>
        <tr>

            <%= @actors.full_name %>
            </br>


        </tr>
    </tbody>
</table>
</div>
</div>
</div>
