<footer class="bg-primary text-center text-white">
  <div class="footer">

    <div class="text-center p-3">
      © 2022-Copyright: THP Students : Selim Ramdani, Sarah Coppin, Ilyes Sedjal, Nell Pied, Wally Lazaar
    </div>
  </div>

</footer>
