<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>

		<h1>Nous te souhaitons la bienvenue sur notre application web !</h1>
		<p>Tu t'es inscrit Pimp My Movie en utilisant l'e-mail suivant : <%= @user.email %></p>
		<p> À très vite sur Pimp My Movie !</p>

	</body>
</html>