
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="application.css">
<div class="jumbotron">



	<div class="container row">
		<div class="col-md-4">
		<div class="index__img">
      <img src="https://cdn.wallpapersafari.com/13/11/MfWUsa.jpeg" class="w-100">
      </div>
		</div>
    
		<div class="col-md-8">
				<h1 class="card-title">SHARE, RATE & COMMENT ALL YOUR FAVOURITE MOVIES</h1>
			<div class="card-body">
				<p class="card-text">This website is made by fans, for fans. </br>Let's share together the movies that we love. Don't be shy and come discover our world and express yourself with other fans like you.</p>
        <div class='index__text'>
        <%= button_to 'Discover', movies_path, method: :get, class: ' btn btn1 btn-md ' %>
        </div>
      </div>
    </div>
  </div>
