<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="application.css">
<div class="jumbotron">

<div class ="container row-6">


<section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-6">
          <div class="index__img">


            <img src="https://cdn.wallpapersafari.com/13/11/MfWUsa.jpeg" class="w-100">
          </div>
            </div>
          <div class="col-md-6 px-3">
            <div class="card-block px-3">
              <div class="index__text">


              <h4 class="card-title">SHARE, RATE & COMMENT ALL YOUR FAVOURITE MOVIES</h4>
              <p class="card-text">This website is made by fans, for fans. </br>Let's share together the movies that we love. Don't be shy and come discover our world and express yourself with other fans like you.</p>

               <%= button_to 'Discover', movies_path, method: :get, class: ' btn btn1 btn-md ' %>
            </div>
          </div>
              </div>

        </div>
      </div>
    </div>
  </div>
<<<<<<< HEAD
</section>
</div>
=======
  
</div>
>>>>>>> e6ca83cde344e0f5798bd380a88d63a3da6560fd
